.content
	margin 64px 0 0 0
	
	.container
		.content-features
			padding 0
			
		.content-block
			padding 1em
			border-left 6px solid #dedede
			border-bottom 1px solid #dedede
			transition all 0.5s ease
			
			&-title
				font-family 'Montserrat'
			
			&:hover
				background-color #dedede


			&:nth-child(1)
				border-left-color green
			&:nth-child(2)
				border-left-color red
			&:nth-child(3)
				border-left-color blue
			&:nth-child(4)
				border-left-color orange
				
	
	.content-text-image
		.container
			picture
				margin 0 auto
				img
					width 100%
			p
				margin 1em


@media (min-width: 800px)
	
	.content
		
		&-features
			.container
				display flex
		
		&-text
			&-image
				.container
					display flex
					margin-top 1em
					
					picture
						margin 2em
						order 1
						width 30%
					p
						margin 5em
						order 2
						width 70%
						
@media (min-width: 1200px)	

	.container
		width 1200px
		margin 0 auto				
	
